*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.navbar{
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

.navbar a.active{
    background-color: #666;
    color: white;
}

.container {
    background-color: rgb(39, 128, 100);
    color: white;
    padding: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.side{
    flex: 50%;
    background-color: white;
    padding: 0;
}

.main{
    flex: 50%;
    background-color: white;
    padding: 20px;
}


input [type="text"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(151, 149, 149);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input [type="submit"] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #ddd;
}

.footer {
    padding: 5px;
    text-align: center;
    background-color: rgb(39, 128, 100);
}

.footer-links {
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
}

footer ul {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.footer-links ul li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

@media only screen and (max-width: 600px){
    .column, input[type="submit"] {
        width:100%;
        margin-top: 0;
    }
}


#fname_error{
    visibility: hidden;
    color: red;
}

#lname_error{
    visibility: hidden;
    color: red;
}


#city_error{
    visibility: hidden;
    color: red;
}

#phone_error{
    visibility: hidden;
    color: red;
}
